if getent passwd  {{.Name}} > /dev/null; then
    printf "User %s already exists\n", {{.Name}} 
else
	{{ .command }}
	if [ $? -eq 0 ]; then
		echo "Created user {{.Name}} successfully"
	else
		echo "Error while creating user {{.Name}}"
	fi
fi