if getent passwd  {{.Provider.Username}} > /dev/null; then
    printf "User %s already exists\n", {{.Provider.Username}} 
else
	{{ .Command }}
	if [ $? -eq 0 ]; then
		echo "Created user {{.Provider.Username}} successfully"
	else
		echo "Error while creating user {{.Provider.Username}}"
	fi
fi