if getent passwd  {{.Name}} > /dev/null; then
	{{ .command }}
	if [ $? -eq 0 ]; then
		echo "Created user {{.Name}} successfully"
	else
		echo "Error while creating user {{.Name}}"
	fi
else
	    printf "User %s doesn't exists\n", {{.Name}} 
fi